html,
body {
  height: 100%;
  background-color: lightgray;
  background: repeating-linear-gradient(
    45deg,
    lightgray,
    white 10px,
    lightgray 10px,
    white 20px
  );
}

.background {
  background-color: lightgray;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.tabs li.is-active a {
  color: white !important;
}

img {
  max-width: 100%;
  height: auto;
}

.padding {
  margin-top: 20px
}

.container {
  background-color: white;
  padding: 20px;
}

.select {
  min-width: 100% !important;
  max-width: 100% !important;
  width: 100% !important;
}

.padding {
  margin-left: 10px;
}

.left-margin {
  margin-left: 10px;
}

.debug {
  z-index: 200 !important;
  background-color: white;
  position: absolute;
  width: 450px;
  top:15px;
  right: 20px;
  max-height: 500px;
  overflow-y: scroll;
  border: 1px solid darkgrey;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);


}

.logo {
  position: absolute;
  top:0px;
  left: 0px;
  height: 50px;
  width:50px;
}

.shadow {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.top-margin {
  margin-top: 15px;
}

.command {
  cursor: pointer;
  text-align: center;
  background-color: lightblue;
  max-width: 250px;
  padding: 10px;
  color:white;
  border-radius: 15px;
}



.readmodel {
  cursor: pointer;
  text-align: center;
  background-color: lightgreen;
  max-width: 250px;
  margin-top: 15px;
  padding: 10px;
  color:white;
  border-radius: 15px;
}


.view {
  min-height: 250px;
  width: 200px;
  margin-right: 15px;
  cursor: pointer;
  color: black;

}

.view.is-active {
  cursor: pointer;
  border: 3px solid darkgray;
  color: white !important;
  background-color: lightslategrey;
}

.filter input {
  background-color: lightgray;
}
